# Milestone 2

This notebook is designed to explore and clarify key aspects of our dataset, including both preprocessing and preliminary analysis. We begin by loading the data and implementing general preprocessing steps that will be uniform throughout the notebook. The subsequent sections are organized according to the X research questions highlighted in the project's README. Each section includes specialized data preparation steps, along with vital statistics and visual representations. Our initial exploratory work is intended to offer insights and confirm the suitability of the methodologies we have selected.

---

**Contents of notebook**:
1. [Section 1](#section1)
2. [Section 2](#section2)
    1. [Subsection 2.1](#section2_1)
    2. [Subsection 2.2](#section2_2)
3. [Section 3](#section3)

---

## Data Processing

---

### Loading data

In [1]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
#from helpers import * #DEFINE HELPERS
from datetime import datetime as dt

In [2]:
DATA_FOLDER = './data/'
MOVIES_METADATA_PATH = DATA_FOLDER + 'movie.metadata.tsv'
PLOT_SUMMARIES_PATH = DATA_FOLDER + 'plot_summaries.txt'
CHARACTERS_METADATA_PATH = DATA_FOLDER +'character.metadata.tsv'
#IMDB
TITLE_RATINGS_PATH = DATA_FOLDER + 'title.ratings.tsv'
TITLE_BASICS_PATH = DATA_FOLDER + 'title.basics.tsv'
#Kaggle
MOVIES_PATH = DATA_FOLDER + 'movies.csv'
OSCARS_PATH = DATA_FOLDER + 'the_oscar_award.csv'

**MOVIES**

#### CMU MetaData Dataset

In [3]:
# Read the movie meta-data dataset
metadata_df = pd.read_csv(MOVIES_METADATA_PATH, sep='\t',header=None, names=['id', 'freebase_id', 'title', 'release_date', 'boxOffice_revenue', 'runtime', 'language', 'country', 'genres'])
metadata_df.head(5)

,id,freebase_id,title,release_date,boxOffice_revenue,runtime,language,country,genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [4]:
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81741 entries, 0 to 81740
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 81741 non-null  int64
 1   freebase_id        81741 non-null  object
 2   title              81741 non-null  object
 3   release_date       74839 non-null  object
 4   boxOffice_revenue  8401 non-null   float64
 5   runtime            61291 non-null  float64
 6   language           81741 non-null  object
 7   country            81741 non-null  object
 8   genres             81741 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.6+ MB

In [5]:
# Function to convert release date to datetime and handle different formats MOVE TO HELPERS
def convert_release_date(date_str):
    try:
        # Try converting with full date format
        return pd.to_datetime(date_str, format='%Y-%m-%d', errors='coerce')
    except ValueError:
        try:
            # Try converting with year-month format
            return pd.to_datetime(date_str, format='%Y-%m', errors='coerce')
        except ValueError:
            # Fallback to year-only format
            return pd.to_datetime(date_str, format='%Y', errors='coerce')

# Convert release date to datetime
metadata_df['release_date'] = metadata_df['release_date'].apply(convert_release_date)

# Extract year
metadata_df['year'] = metadata_df['release_date'].dt.year

metadata_df.head()

,id,freebase_id,title,release_date,boxOffice_revenue,runtime,language,country,genres,year
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001.0
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",2000.0
2,28463795,/m/0crgdbh,Brun bitter,1988-01-01,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",1988.0
3,9363483,/m/0285_cd,White Of The Eye,1987-01-01,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",1987.0
4,261236,/m/01mrr1,A Woman in Flames,1983-01-01,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",1983.0

#### IMDB datasets (ratings + crew + metadata)

In [6]:
# IMDb ratings dataset
imdb_ratings_df = pd.read_csv(TITLE_RATINGS_PATH, sep='	')
imdb_ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2007
1  tt0000002            5.8       269
2  tt0000003            6.5      1912
3  tt0000004            5.5       178
4  tt0000005            6.2      2692

In [7]:
imdb_ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369534 entries, 0 to 1369533
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1369534 non-null  object
 1   averageRating  1369534 non-null  float64
 2   numVotes       1369534 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 31.3+ MB

In [8]:
imdb_ratings_df.describe()

       averageRating      numVotes
count   1.369534e+06  1.369534e+06
mean    6.959223e+00  1.038604e+03
std     1.382562e+00  1.759041e+04
min     1.000000e+00  5.000000e+00
25%     6.200000e+00  1.100000e+01
50%     7.200000e+00  2.600000e+01
75%     7.900000e+00  1.010000e+02
max     1.000000e+01  2.818872e+06

In [ ]:
import seaborn as sns
#MOVE TO ANALYSIS
# Average rating distribution shows a classic negative skewed distribution where the median is larger than mean. 
ratings = dict(mean=imdb_ratings_df.averageRating.mean(),
              median=imdb_ratings_df.averageRating.median())


plt.figure(figsize=(15,5))

plt.subplot(1,2,1)
ax1 = sns.distplot(imdb_ratings_df.averageRating,kde_kws=dict(bw=0.2))
ax1.axvline(x=ratings["mean"],c=sns.color_palette("Set2")[1],label=f"mean={round(ratings['mean'],2)}")
ax1.axvline(x=ratings["median"],c=sns.color_palette("Set2")[2],label=f"median={round(ratings['median'],2)}")
plt.legend()
plt.tight_layout()
plt.show()

In [55]:
# IMDb videos' metadata dataset
imdb_basics_df = pd.read_csv(TITLE_BASICS_PATH, sep='	', low_memory=False)
imdb_basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [56]:
imdb_basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10316950 entries, 0 to 10316949
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 708.4+ MB

In [57]:
imdb_basics_df['titleType'].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [58]:
# Only keep movies
imdb_basics_df = imdb_basics_df[imdb_basics_df['titleType'] == 'movie']
#imdb_basics_df = imdb_basics_df.drop(columns = ['titleType'], axis=1)

In [59]:
imdb_basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
...,...,...,...,...,...,...,...,...,...
10316841,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
10316868,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
10316880,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
10316890,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama
10316900,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary

In [13]:
imdb_crew_df = pd.read_csv(DATA_FOLDER + 'title.crew.tsv', sep='	')
imdb_crew_df

             tconst  directors    writers
0         tt0000001  nm0005690         \N
1         tt0000002  nm0721526         \N
2         tt0000003  nm0721526         \N
3         tt0000004  nm0721526         \N
4         tt0000005  nm0005690         \N
...             ...        ...        ...
3620806  tt14858234  nm1776976         \N
3620807  tt14858236         \N  nm1144732
3620808  tt14858238  nm7066470         \N
3620809   tt1485823         \N         \N
3620810           t        NaN        NaN

[3620811 rows x 3 columns]

In [14]:
imdb_names_df = pd.read_csv(DATA_FOLDER + "name.basics.tsv", sep='\t', header=0)
imdb_names_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0037382,tt0038355,tt0075213"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0049189,tt0057345,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0078723,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0050976,tt0083922,tt0069467"

In [ ]:
director_names = imdb_names_df.merge(imdb_crew_df, left_on='nconst', right_on='directors', how='inner')
writers_names = imdb_names_df.merge(imdb_crew_df, left_on='nconst', right_on='writers', how='inner')

In [15]:
# Merge IMDb movies' rating and metadata
imdb_df = imdb_ratings_df.merge(imdb_basics_df, on='tconst', how='inner')
imdb_df.head()

,tconst,averageRating,numVotes,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000009,5.3,207,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
1,tt0000147,5.3,485,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport"
2,tt0000502,4.1,15,Bohemios,Bohemios,0,1905,\N,100,\N
3,tt0000574,6.0,855,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
4,tt0000591,5.0,21,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama

In [16]:
# Merge IMDb movies' and crew
imdb_df = imdb_df.merge(imdb_crew_df, on='tconst', how='left')
imdb_df.head()

,tconst,averageRating,numVotes,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers
0,tt0000009,5.3,207,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,nm0085156,nm0085156
1,tt0000147,5.3,485,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",nm0714557,\N
2,tt0000502,4.1,15,Bohemios,Bohemios,0,1905,\N,100,\N,nm0063413,"nm0063413,nm0657268,nm0675388"
3,tt0000574,6.0,855,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",nm0846879,nm0846879
4,tt0000591,5.0,21,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,nm0141150,nm0141150

In [17]:
imdb_df.loc[imdb_df['startYear']=='\\N', 'startYear'] = np.nan
imdb_df['startYear'] = pd.to_numeric(imdb_df['startYear'], errors='coerce')

imdb_df.loc[imdb_df['runtimeMinutes']=='\\N', 'runtimeMinutes'] = np.nan
imdb_df['runtimeMinutes'] = pd.to_numeric(imdb_df['runtimeMinutes'], errors='coerce')

imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300070 entries, 0 to 300069
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          300070 non-null  object
 1   averageRating   300070 non-null  float64
 2   numVotes        300070 non-null  int64
 3   primaryTitle    300070 non-null  object
 4   originalTitle   300070 non-null  object
 5   isAdult         300070 non-null  object
 6   startYear       300033 non-null  float64
 7   endYear         300070 non-null  object
 8   runtimeMinutes  270360 non-null  float64
 9   genres          300070 non-null  object
 10  directors       184593 non-null  object
 11  writers         184593 non-null  object
dtypes: float64(3), int64(1), object(8)
memory usage: 29.8+ MB

#### Kaggle movies dataset

In [ ]:
!pip install kaggle

In [ ]:
!kaggle datasets download -d akshaypawar7/millions-of-movies -p data/zip_files

In [ ]:
import zipfile
import os

#TODO: MOVE TO HELPERS
def extract_zip(zip_file_name):
    """
    Extracts the contents of a zip file from 'data/zip_files/' to 'data/' directory.

    Parameters:
    zip_file_name (str): Name of the zip file.
    """
    zip_file_path = f'data/zip_files/{zip_file_name}'
    extract_path = 'data/'
    
    # Create the directory if it doesn't exist
    if not os.path.exists(extract_path):
        os.makedirs(extract_path)

    # Extract the zip file
    with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
        zip_ref.extractall('data/')
    
    print("Extraction completed!")

In [ ]:
extract_zip('millions-of-movies.zip')

In [18]:
kaggle_df = pd.read_csv(MOVIES_PATH)
kaggle_df.drop(columns = ['id','credits','poster_path','keywords','backdrop_path','recommendations','status','tagline'], inplace = True)
kaggle_df.head()

,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,vote_average,vote_count
0,Meg 2: The Trench,Action-Science Fiction-Horror,en,An exploratory dive into the deepest depths of...,8763.998,Apelles Entertainment-Warner Bros. Pictures-di...,2023-08-02,129000000.0,352056482.0,116.0,7.079,1365.0
1,The Pope's Exorcist,Horror-Mystery-Thriller,en,Father Gabriele Amorth Chief Exorcist of the V...,5953.227,Screen Gems-2.0 Entertainment-Jesus & Mary-Wor...,2023-04-05,18000000.0,65675816.0,103.0,7.433,545.0
2,Transformers: Rise of the Beasts,Action-Adventure-Science Fiction,en,When a new threat capable of destroying the en...,5409.104,Skydance-Paramount-di Bonaventura Pictures-Bay...,2023-06-06,200000000.0,407045464.0,127.0,7.340,1007.0
3,Ant-Man and the Wasp: Quantumania,Action-Adventure-Science Fiction,en,Super-Hero partners Scott Lang and Hope van Dy...,4425.387,Marvel Studios-Kevin Feige Productions,2023-02-15,200000000.0,475766228.0,125.0,6.507,2811.0
4,Creed III,Drama-Action,en,After dominating the boxing world Adonis Creed...,3994.342,Metro-Goldwyn-Mayer-Proximity Media-Balboa Pro...,2023-03-01,75000000.0,269000000.0,116.0,7.262,1129.0

In [19]:
kaggle_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722649 entries, 0 to 722648
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   title                 722645 non-null  object
 1   genres                511970 non-null  object
 2   original_language     722649 non-null  object
 3   overview              604164 non-null  object
 4   popularity            722649 non-null  float64
 5   production_companies  337226 non-null  object
 6   release_date          670575 non-null  object
 7   budget                722649 non-null  float64
 8   revenue               722649 non-null  float64
 9   runtime               688230 non-null  float64
 10  vote_average          722649 non-null  float64
 11  vote_count            722649 non-null  float64
dtypes: float64(6), object(6)
memory usage: 66.2+ MB

In [23]:
kaggle_df['release_date'] = kaggle_df['release_date'].apply(convert_release_date)

# Extract year
kaggle_df['year'] = kaggle_df['release_date'].dt.year

### Merging the dataframes

In [21]:
primary_merge = metadata_df.merge(imdb_df, left_on='title', right_on='primaryTitle', how='left')
original_merge = metadata_df.merge(imdb_df, left_on='title', right_on='originalTitle', how='left')
ratings_df = pd.concat([primary_merge, original_merge]).drop_duplicates()
ratings_df

,id,freebase_id,title,release_date,boxOffice_revenue,runtime,language,country,genres_x,year,...,numVotes,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_y,directors,writers
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001.0,...,56933.0,Ghosts of Mars,Ghosts of Mars,0,2001.0,\N,98.0,"Action,Horror,Sci-Fi",nm0000118,"nm0837917,nm0000118"
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",2000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28463795,/m/0crgdbh,Brun bitter,1988-01-01,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",1988.0,...,41.0,Brun bitter,Brun bitter,0,1988.0,\N,83.0,"Crime,Drama",nm0803751,"nm0803751,nm0820866"
3,9363483,/m/0285_cd,White Of The Eye,1987-01-01,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",1987.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,261236,/m/01mrr1,A Woman in Flames,1983-01-01,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",1983.0,...,623.0,A Woman in Flames,Die flambierte Frau,0,1983.0,\N,106.0,Drama,nm0885554,"nm0885554,nm0959016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112597,21896644,/m/05p1kkz,Trileros,NaT,NaN,NaN,{},"{""/m/06mkj"": ""Spain""}","{""/m/01z4y"": ""Comedy""}",NaN,...,64.0,Tricksters,Trileros,0,2003.0,\N,112.0,Comedy,nm0714002,"nm0540088,nm0714002"
112619,4037444,/m/0bdtyw,Producing Adults,2004-01-01,NaN,100.0,"{""/m/01gp_d"": ""Finnish Language""}","{""/m/02vzc"": ""Finland"", ""/m/0d0vqn"": ""Sweden""}","{""/m/0hn10"": ""LGBT"", ""/m/03q4nz"": ""World cinem...",2004.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112640,5583712,/m/0b_l77x,The Arch,1969-12-18,NaN,94.0,"{""/m/0653m"": ""Standard Mandarin""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/07s9rl0"": ""Drama"", ""/m/0gw5qqq"": ""Chinese...",1969.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112650,31026778,/m/0gg59v2,Secreto eterno,1942-01-01,NaN,NaN,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0b90_r"": ""Mexico""}","{""/m/07s9rl0"": ""Drama""}",1942.0,...,8.0,The Eternal Secret,Secreto eterno,0,1942.0,\N,103.0,Drama,nm0649651,nm0649651
112663,25011340,/m/09gg54d,Dot.Kill,2005-01-01,NaN,90.0,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/02wtdps"": ""Crime...",2005.0,...,850.0,Digital Reaper,Dot.Kill,0,2005.0,\N,87.0,"Crime,Drama,Thriller",nm0410139,"nm0003820,nm1351119"

In [22]:
ratings_df['startYear'].fillna(-1, inplace=True)
ratings_df['releaseDiff'] = (ratings_df['year'] - ratings_df['startYear']).abs()
ratings_df = ratings_df[ratings_df['releaseDiff'] <= 1]
ratings_df

,id,freebase_id,title,release_date,boxOffice_revenue,runtime,language,country,genres_x,year,...,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_y,directors,writers,releaseDiff
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001.0,...,Ghosts of Mars,Ghosts of Mars,0,2001.0,\N,98.0,"Action,Horror,Sci-Fi",nm0000118,"nm0837917,nm0000118",0.0
2,28463795,/m/0crgdbh,Brun bitter,1988-01-01,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",1988.0,...,Brun bitter,Brun bitter,0,1988.0,\N,83.0,"Crime,Drama",nm0803751,"nm0803751,nm0820866",0.0
4,261236,/m/01mrr1,A Woman in Flames,1983-01-01,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",1983.0,...,A Woman in Flames,Die flambierte Frau,0,1983.0,\N,106.0,Drama,nm0885554,"nm0885554,nm0959016",0.0
8,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002-01-01,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...",2002.0,...,The Sorcerer's Apprentice,The Sorcerer's Apprentice,0,2001.0,\N,86.0,"Adventure,Family,Fantasy",nm0514247,nm3694845,1.0
10,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...",1938.0,...,Alexander's Ragtime Band,Alexander's Ragtime Band,0,1938.0,\N,106.0,"Drama,Music,Musical",nm0454771,"nm0778636,nm0873707,nm0792553,nm0000927,nm0316...",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112360,2208485,/m/06w0pv,Ådalen 31,1969-01-01,NaN,114.0,"{""/m/06mp7"": ""Swedish Language""}","{""/m/0d0vqn"": ""Sweden""}","{""/m/01lrrt"": ""Melodrama"", ""/m/03q4nz"": ""World...",1969.0,...,Adalen 31,Ådalen 31,0,1969.0,\N,110.0,"Drama,History,Romance",nm0927090,nm0927090,0.0
112411,16142004,/m/03wb5g1,Encarnación,2007-10-11,NaN,93.0,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0jgd"": ""Argentina""}","{""/m/07s9rl0"": ""Drama""}",2007.0,...,Encarnacion,Encarnación,0,2007.0,\N,93.0,Drama,nm1318393,"nm1318393,nm2769629,nm1351115,nm1196938",0.0
112448,883432,/m/03ljpk,Gone in Sixty Seconds,2000-01-01,237202298.0,117.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th...",2000.0,...,Gone in 60 Seconds,Gone in Sixty Seconds,0,2000.0,\N,118.0,"Action,Crime,Thriller",nm0784061,"nm0355181,nm0003298",0.0
112650,31026778,/m/0gg59v2,Secreto eterno,1942-01-01,NaN,NaN,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0b90_r"": ""Mexico""}","{""/m/07s9rl0"": ""Drama""}",1942.0,...,The Eternal Secret,Secreto eterno,0,1942.0,\N,103.0,Drama,nm0649651,nm0649651,0.0
112663,25011340,/m/09gg54d,Dot.Kill,2005-01-01,NaN,90.0,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/02wtdps"": ""Crime...",2005.0,...,Digital Reaper,Dot.Kill,0,2005.0,\N,87.0,"Crime,Drama,Thriller",nm0410139,"nm0003820,nm1351119",0.0

In [24]:
# Merge CMU and IMDb datasets with NEW KAGGLE
revenues_ratings_df = ratings_df.merge(
    kaggle_df,
    on='title',
    how='inner'
)

revenues_ratings_df['releaseDiff2'] = (revenues_ratings_df['year_x'] - revenues_ratings_df['year_y']).abs()
revenues_ratings_df = revenues_ratings_df[revenues_ratings_df['releaseDiff2'] <= 1]
revenues_ratings_df

,id,freebase_id,title,release_date_x,boxOffice_revenue,runtime_x,language,country,genres_x,year_x,...,popularity,production_companies,release_date_y,budget,revenue,runtime_y,vote_average,vote_count,year_y,releaseDiff2
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001.0,...,13.057,Screen Gems-Storm King Productions-Animationwerks,2001-08-24,28000000.0,14010832.0,98.0,5.154,911.0,2001.0,0.0
1,28463795,/m/0crgdbh,Brun bitter,1988-01-01,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",1988.0,...,0.600,NaN,1988-01-02,0.0,0.0,83.0,0.000,0.0,1988.0,0.0
4,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002-01-01,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...",2002.0,...,3.362,Peakviewing Productions-Peakviewing Transatlan...,2002-04-12,0.0,0.0,86.0,4.800,10.0,2002.0,0.0
9,12621957,/m/05pdd86,The Sorcerer's Apprentice,2010-07-08,215283742.0,111.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06n90"": ""Science Fiction"", ""/m/03k9fj"": ""...",2010.0,...,22.692,Walt Disney Pictures-Jerry Bruckheimer Films-S...,2010-07-13,150000000.0,215283742.0,109.0,6.100,4454.0,2010.0,0.0
16,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...",1938.0,...,2.030,20th Century Fox,1938-05-24,2000000.0,4000000.0,106.0,6.614,22.0,1938.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128817,17437799,/m/0465t90,Iron Cross,2009-01-01,NaN,130.0,"{""/m/02h40lc"": ""English Language"", ""/m/04306rv...","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/028v3"": ""Detecti...",2009.0,...,2.382,NaN,2009-12-15,30000000.0,0.0,130.0,6.200,2.0,2009.0,0.0
128819,9720348,/m/02pq3yj,Mujeres que trabajan,1938-01-01,NaN,77.0,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0jgd"": ""Argentina""}","{""/m/01z4y"": ""Comedy"", ""/m/01g6gs"": ""Black-and...",1938.0,...,0.600,Lumiton,1938-07-05,0.0,0.0,87.0,7.700,6.0,1938.0,0.0
128820,16142004,/m/03wb5g1,Encarnación,2007-10-11,NaN,93.0,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0jgd"": ""Argentina""}","{""/m/07s9rl0"": ""Drama""}",2007.0,...,0.624,NaN,2007-10-12,0.0,0.0,93.0,6.000,8.0,2007.0,0.0
128822,883432,/m/03ljpk,Gone in Sixty Seconds,2000-01-01,237202298.0,117.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th...",2000.0,...,31.020,Jerry Bruckheimer Films-Touchstone Pictures,2000-06-09,90000000.0,237202299.0,118.0,6.391,3807.0,2000.0,0.0
128823,25011340,/m/09gg54d,Dot.Kill,2005-01-01,NaN,90.0,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/02wtdps"": ""Crime...",2005.0,...,2.729,Lucky UKFS-Bauer Martinez Studios-Curbside Pic...,2005-03-08,6000000.0,0.0,87.0,4.100,15.0,2005.0,0.0

In [25]:
nan_percentage = revenues_ratings_df['boxOffice_revenue'].isna().mean() * 100
nan_percentage

80.50682728996185

In [29]:
nan_percentage =  metadata_df['boxOffice_revenue'].isna().mean() * 100
nan_percentage

89.72241592346558

In [26]:
nan_percentage = (revenues_ratings_df['revenue'] == 0).mean() * 100
nan_percentage

81.30114468095319

In [27]:
# Replace NaN values in boxOffice_revenue with revenue values only when revenue is not 0
revenues_ratings_df.loc[revenues_ratings_df['boxOffice_revenue'].isna() & (revenues_ratings_df['revenue'] != 0), 'boxOffice_revenue'] = revenues_ratings_df['revenue']

In [28]:
nan_percentage = revenues_ratings_df['boxOffice_revenue'].isna().mean() * 100
nan_percentage

73.90511386815771

### Movies Awards

In [33]:
oscars_df

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10760,2022,2023,95,HONORARY AWARD,"To Euzhan Palcy, a masterful filmmaker who bro...",NaN,True
10761,2022,2023,95,HONORARY AWARD,"To Diane Warren, for her genius, generosity an...",NaN,True
10762,2022,2023,95,HONORARY AWARD,"To Peter Weir, a fearless and consummate filmm...",NaN,True
10763,2022,2023,95,GORDON E. SAWYER AWARD,Iain Neil,NaN,True
10764,2022,2023,95,AWARD OF COMMENDATION,To Ryan Laney for his innovative adaptation an...,Welcome to Chechnya,True

In [34]:
revenues_ratings_df

,id,freebase_id,title,release_date_x,boxOffice_revenue,runtime_x,language,country,genres_x,year_x,...,production_companies,release_date_y,budget,revenue,runtime_y,vote_average,vote_count,year_y,releaseDiff2,revenue_diff
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001.0,...,Screen Gems-Storm King Productions-Animationwerks,2001-08-24,28000000.0,14010832.0,98.0,5.154,911.0,2001.0,0.0,0.0
1,28463795,/m/0crgdbh,Brun bitter,1988-01-01,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",1988.0,...,NaN,1988-01-02,0.0,0.0,83.0,0.000,0.0,1988.0,0.0,NaN
4,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002-01-01,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...",2002.0,...,Peakviewing Productions-Peakviewing Transatlan...,2002-04-12,0.0,0.0,86.0,4.800,10.0,2002.0,0.0,NaN
9,12621957,/m/05pdd86,The Sorcerer's Apprentice,2010-07-08,215283742.0,111.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06n90"": ""Science Fiction"", ""/m/03k9fj"": ""...",2010.0,...,Walt Disney Pictures-Jerry Bruckheimer Films-S...,2010-07-13,150000000.0,215283742.0,109.0,6.100,4454.0,2010.0,0.0,0.0
16,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...",1938.0,...,20th Century Fox,1938-05-24,2000000.0,4000000.0,106.0,6.614,22.0,1938.0,0.0,400000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128817,17437799,/m/0465t90,Iron Cross,2009-01-01,NaN,130.0,"{""/m/02h40lc"": ""English Language"", ""/m/04306rv...","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/028v3"": ""Detecti...",2009.0,...,NaN,2009-12-15,30000000.0,0.0,130.0,6.200,2.0,2009.0,0.0,NaN
128819,9720348,/m/02pq3yj,Mujeres que trabajan,1938-01-01,NaN,77.0,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0jgd"": ""Argentina""}","{""/m/01z4y"": ""Comedy"", ""/m/01g6gs"": ""Black-and...",1938.0,...,Lumiton,1938-07-05,0.0,0.0,87.0,7.700,6.0,1938.0,0.0,NaN
128820,16142004,/m/03wb5g1,Encarnación,2007-10-11,NaN,93.0,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0jgd"": ""Argentina""}","{""/m/07s9rl0"": ""Drama""}",2007.0,...,NaN,2007-10-12,0.0,0.0,93.0,6.000,8.0,2007.0,0.0,NaN
128822,883432,/m/03ljpk,Gone in Sixty Seconds,2000-01-01,237202298.0,117.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th...",2000.0,...,Jerry Bruckheimer Films-Touchstone Pictures,2000-06-09,90000000.0,237202299.0,118.0,6.391,3807.0,2000.0,0.0,1.0
128823,25011340,/m/09gg54d,Dot.Kill,2005-01-01,NaN,90.0,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/02wtdps"": ""Crime...",2005.0,...,Lucky UKFS-Bauer Martinez Studios-Curbside Pic...,2005-03-08,6000000.0,0.0,87.0,4.100,15.0,2005.0,0.0,NaN

In [37]:
movies_df = oscars_df.merge(revenues_ratings_df,
    left_on='film',
    right_on = 'title',                           
    how='right'
)
movies_df

,year_film,year_ceremony,ceremony,category,name,film,winner,id,freebase_id,title,...,production_companies,release_date_y,budget,revenue,runtime_y,vote_average,vote_count,year_y,releaseDiff2,revenue_diff
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,975900,/m/03vyhn,Ghosts of Mars,...,Screen Gems-Storm King Productions-Animationwerks,2001-08-24,28000000.0,14010832.0,98.0,5.154,911.0,2001.0,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28463795,/m/0crgdbh,Brun bitter,...,NaN,1988-01-02,0.0,0.0,83.0,0.000,0.0,1988.0,0.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18998739,/m/04jcqvw,The Sorcerer's Apprentice,...,Peakviewing Productions-Peakviewing Transatlan...,2002-04-12,0.0,0.0,86.0,4.800,10.0,2002.0,0.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12621957,/m/05pdd86,The Sorcerer's Apprentice,...,Walt Disney Pictures-Jerry Bruckheimer Films-S...,2010-07-13,150000000.0,215283742.0,109.0,6.100,4454.0,2010.0,0.0,0.0
4,1938.0,1939.0,11.0,ART DIRECTION,"Bernard Herzbrun, Boris Leven",Alexander's Ragtime Band,False,10408933,/m/02qc0j7,Alexander's Ragtime Band,...,20th Century Fox,1938-05-24,2000000.0,4000000.0,106.0,6.614,22.0,1938.0,0.0,400000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17437799,/m/0465t90,Iron Cross,...,NaN,2009-12-15,30000000.0,0.0,130.0,6.200,2.0,2009.0,0.0,NaN
49021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9720348,/m/02pq3yj,Mujeres que trabajan,...,Lumiton,1938-07-05,0.0,0.0,87.0,7.700,6.0,1938.0,0.0,NaN
49022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16142004,/m/03wb5g1,Encarnación,...,NaN,2007-10-12,0.0,0.0,93.0,6.000,8.0,2007.0,0.0,NaN
49023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,883432,/m/03ljpk,Gone in Sixty Seconds,...,Jerry Bruckheimer Films-Touchstone Pictures,2000-06-09,90000000.0,237202299.0,118.0,6.391,3807.0,2000.0,0.0,1.0
49024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25011340,/m/09gg54d,Dot.Kill,...,Lucky UKFS-Bauer Martinez Studios-Curbside Pic...,2005-03-08,6000000.0,0.0,87.0,4.100,15.0,2005.0,0.0,NaN

In [38]:
movies_df['releaseDiff'] = (movies_df['year_film'] - movies_df['year_x']).abs()
movies_df = movies_df[movies_df['releaseDiff'] <= 1]
movies_df

,year_film,year_ceremony,ceremony,category,name,film,winner,id,freebase_id,title,...,production_companies,release_date_y,budget,revenue,runtime_y,vote_average,vote_count,year_y,releaseDiff2,revenue_diff
4,1938.0,1939.0,11.0,ART DIRECTION,"Bernard Herzbrun, Boris Leven",Alexander's Ragtime Band,False,10408933,/m/02qc0j7,Alexander's Ragtime Band,...,20th Century Fox,1938-05-24,2000000.0,4000000.0,106.0,6.614,22.0,1938.0,0.0,400000.0
5,1938.0,1939.0,11.0,FILM EDITING,Barbara McLean,Alexander's Ragtime Band,False,10408933,/m/02qc0j7,Alexander's Ragtime Band,...,20th Century Fox,1938-05-24,2000000.0,4000000.0,106.0,6.614,22.0,1938.0,0.0,400000.0
6,1938.0,1939.0,11.0,MUSIC (Scoring),Alfred Newman,Alexander's Ragtime Band,True,10408933,/m/02qc0j7,Alexander's Ragtime Band,...,20th Century Fox,1938-05-24,2000000.0,4000000.0,106.0,6.614,22.0,1938.0,0.0,400000.0
7,1938.0,1939.0,11.0,MUSIC (Song),Music and Lyrics by Irving Berlin,Alexander's Ragtime Band,False,10408933,/m/02qc0j7,Alexander's Ragtime Band,...,20th Century Fox,1938-05-24,2000000.0,4000000.0,106.0,6.614,22.0,1938.0,0.0,400000.0
8,1938.0,1939.0,11.0,OUTSTANDING PRODUCTION,20th Century-Fox,Alexander's Ragtime Band,False,10408933,/m/02qc0j7,Alexander's Ragtime Band,...,20th Century Fox,1938-05-24,2000000.0,4000000.0,106.0,6.614,22.0,1938.0,0.0,400000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48678,1967.0,1968.0,40.0,COSTUME DESIGN,"Irene Sharaff, Danilo Donati",The Taming of the Shrew,False,9127143,/m/027yntx,The Taming of the Shrew,...,Columbia Pictures-Royal Films International-FAI,1967-03-08,4000000.0,0.0,117.0,7.000,138.0,1967.0,0.0,8000000.0
48786,1942.0,1943.0,15.0,ART DIRECTION (Color),Art Direction: Vincent Korda; Interior Decor...,Jungle Book,False,2705839,/m/07z4tt,Jungle Book,...,United Artists-Alexander Korda Films,1942-04-03,0.0,0.0,106.0,6.300,84.0,1942.0,0.0,NaN
48787,1942.0,1943.0,15.0,CINEMATOGRAPHY (Color),W. Howard Greene,Jungle Book,False,2705839,/m/07z4tt,Jungle Book,...,United Artists-Alexander Korda Films,1942-04-03,0.0,0.0,106.0,6.300,84.0,1942.0,0.0,NaN
48788,1942.0,1943.0,15.0,MUSIC (Music Score of a Dramatic or Comedy Pic...,Miklos Rozsa,Jungle Book,False,2705839,/m/07z4tt,Jungle Book,...,United Artists-Alexander Korda Films,1942-04-03,0.0,0.0,106.0,6.300,84.0,1942.0,0.0,NaN
48789,1942.0,1943.0,15.0,SPECIAL EFFECTS,Photographic Effects by Lawrence Butler; Sound...,Jungle Book,False,2705839,/m/07z4tt,Jungle Book,...,United Artists-Alexander Korda Films,1942-04-03,0.0,0.0,106.0,6.300,84.0,1942.0,0.0,NaN

### ACTORS

<div style="margin-right: 100px;">
    <img src="https://www.bing.com/th/id/OGC.3ca1b513d723710727171a7ade691f00?pid=1.7&rurl=https%3a%2f%2fmedia.giphy.com%2fmedia%2fNCcKdYTzaZ8Eo%2fgiphy.gif&ehk=gsHhihh%2fUvFFcGrOKx07Wv88t%2bUn0tgNkHGrV5Lf39w%3d" width="700" height="500">
</div>

#### CMU dataset

In [ ]:
# Load the dataset
columns = ['Wikipedia movie ID',
              'Freebase movie ID',
              'Movie release date',
              'Character name',
              'Actor date of birth',
              'Actor gender',
              'Actor height',
              'Actor ethnicity',
              'Actor name',
              'Actor age at movie release',
              'Freebase character/actor map ID',
              'Freebase character ID',
              'Freebase actor ID']

characters_metadata_df = pd.read_csv(CHARACTERS_METADATA_PATH, sep='\t', names = columns)
characters_metadata_df.head()

In [ ]:
characters_metadata_df.info()

In [ ]:
# Convert 'Actor date of birth' to datetime
characters_metadata_df['Actor date of birth'] = pd.to_datetime(characters_metadata_df['Actor date of birth'], errors='coerce', utc = True)

# Create a new column for the year of birth
characters_metadata_df['Actor birth year'] = characters_metadata_df['Actor date of birth'].dt.year

In [ ]:
actors_df = characters_metadata_df.copy()
movie_names = metadata_df[["freebase_id","title"]]
actors_df = pd.merge(actors_df, movie_names[['title', 'freebase_id']], left_on='Freebase movie ID', right_on='freebase_id', how='left')
actors_df['Actor date of birth'] = pd.to_datetime(actors_df['Actor date of birth'])
actors_df['Actor date of birth'] = actors_df['Actor date of birth'].dt.date

aggregated_titles_df = actors_df.groupby(["Freebase actor ID", "Actor name"]).agg({
    'title': lambda x: list(x)
}).reset_index()
unique_actors_df = actors_df.drop_duplicates(subset=["Freebase actor ID", "Actor name"]).drop(columns=['title'])
actor_movies_df = pd.merge(unique_actors_df, aggregated_titles_df, on=["Freebase actor ID", "Actor name"])
actor_movies_df = actor_movies_df.drop(["Character name","Wikipedia movie ID","Freebase movie ID","Movie release date","Actor age at movie release","Freebase character/actor map ID","Freebase character ID","freebase_id"],axis=1)

actor_movies_df

#### Oscar dataset

<div style="margin-right: 150px;">
    <img src="https://www.oscars.org/sites/oscars/files/styles/news_image_default/public/87th_nominations.jpg?itok=VuwEUbgv" width="500" height="300">
</div>

In [32]:
OSCARS_PATH
oscars_df = pd.read_csv(OSCARS_PATH)
oscars_df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [36]:
oscars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10765 entries, 0 to 10764
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      10765 non-null  int64
 1   year_ceremony  10765 non-null  int64
 2   ceremony       10765 non-null  int64
 3   category       10765 non-null  object
 4   name           10761 non-null  object
 5   film           10450 non-null  object
 6   winner         10765 non-null  bool
dtypes: bool(1), int64(3), object(3)
memory usage: 515.2+ KB

In [ ]:
# Explode 'title' in actor_movies_df for easier comparison
exploded_actor_movies_df = actor_movies_df.explode('title')

# Merge oscars_df with exploded_actor_movies_df based on 'name' and 'film'
merged_df = oscars_df.merge(exploded_actor_movies_df, left_on=['name', 'film'], right_on=['Actor name', 'title'], how='left')

# Check for unique and non-unique actors
unique_actors = exploded_actor_movies_df['Actor name'].drop_duplicates(keep=False)
merged_df['is_unique'] = merged_df['Actor name'].isin(unique_actors)

# For unique actors, keep the row as is. For non-unique, keep only if there's a match in the title
final_extracted_df_oscars = merged_df[(merged_df['is_unique']) | (merged_df['title'].notnull())].drop(columns=['is_unique'])

# Display the final DataFrame
final_extracted_df_oscars

#### Golden Globe dataset

<div style="margin-right: 150px;">
    <img src="https://img.nbc.com/sites/nbcunbc/files/files/images/2019/1/02/GoldenGlobes_2019-Logo-1920x1080.jpg" width="500" height="300">
</div>

!kaggle datasets download -d unanimad/golden-globe-awards -p data/zip_files

In [ ]:
extract_zip('golden-globe-awards.zip')

In [ ]:
golden_globe_df =  pd.read_csv('data/golden_globe_awards.csv')
golden_globe_df.head()

In [ ]:
unique_actor_names = golden_globe_df['nominee'].drop_duplicates(keep=False)
non_unique_actor_names = golden_globe_df['nominee'].drop_duplicates(keep='first')[golden_globe_df['nominee'].duplicated(keep=False)]

unique_actors_df = actor_movies_df[actor_movies_df['Actor name'].isin(unique_actor_names)]


non_unique_actors_df = pd.DataFrame()

for name in non_unique_actor_names:
    
    golden_globe_subset = golden_globe_df[golden_globe_df['nominee'] == name]
    actors_subset = actor_movies_df[actor_movies_df['Actor name'] == name]

    
    for _, golden_globe_row in golden_globe_subset.iterrows():
       
        film_title = golden_globe_row['film']

        
        for _, actor_row in actors_subset.iterrows():

            if film_title in actor_row['title']:
                non_unique_actors_df = pd.concat([non_unique_actors_df, pd.DataFrame([actor_row])])
                break  

final_extracted_df_golden_globe = pd.concat([unique_actors_df, non_unique_actors_df])

final_extracted_df_golden_globe

In [ ]:
awards_union = pd.concat([final_extracted_df_oscars,final_extracted_df_golden_globe], axis = 0)

awards_union

## Ethnicity